        /* css清除默认样式*/
        
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        li,
        ol,
        dl,
        dt,
        dd,
        div,
        span,
        a,
        b,
        i,
        strong,
        em,
        img,
        form,
        input,
        textarea,
        table,
        th,
        td,
        section {
            padding: 0;
            margin: 0;
        }
        
        html,
        body {
            font-family: '微软雅黑', sans-serif;
            width: 100%;
            height: 100%;
            overflow: initial;
        }
        
        body {
            /* background: #F9F9F9 !important; */
            color: #333;
            font-size: 14px;
            -webkit-overflow-scrolling: touch;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 100%;
            line-height: 100%;
            font-weight: normal;
        }
        
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            display: inline-block;
            color: #333;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        }
        /*a的默认下划线和字体颜色| 移动端点击蓝边*/
        
        a:hover {
            text-decoration: none !important;
            cursor: pointer;
        }
        
        i,
        em {
            font-style: normal;
        }
        
        strong,
        b {
            font-weight: normal;
        }
        
        input[type=button],
        input[type=submit],
        input[type=file],
        button {
            cursor: pointer;
            -webkit-appearance: none;
        }
        /*解决苹果手机默认的背景透明*/
        
        input,
        button,
        select,
        textarea {
            resize: none;
            outline: none;
            border: none 0;
            padding: 0;
            font-family: '黑体', sans-serif;
        }
        
        input[type="search"] {
            -webkit-appearance: none;
        }
        
        input::-webkit-search-cancel-button {
            display: none;
        }
        
        li {
            list-style: none;
            vertical-align: top;
        }
        /*li里浮动,li不浮动，去3像素bug*/
        
        a img {
            border: 0;
        }
        /*a包img：去蓝色边框*/
        
        img {
            vertical-align: middle;
            width: 100%;
        }
        /*a包img：去3像素bug*/
        
        table {
            border-collapse: collapse;
            font-size: 100%;
            font-weight: normal;
        }
        
        table,
        tr,
        th,
        td {
            padding: 0;
            font-size: 100%;
            font-weight: normal;
        }
        /*字体颜色*/
        
        .font_gary {
            color: #999 !important;
        }
        /*公共按钮*/
        
        .btn,
        .btn-ghost,
        .btn-primary,
        .large,
        .btn-borderN {
            display: inline-block;
            font-size: 12px;
            padding: 4px 15px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        
        .btn-big {
            padding: 5px 30px;
        }
        
        .btn-primary {
            background: #333;
            border-color: #333;
            color: #fff;
        }
        
        .btn-borderN {
            border: none;
            color: #bbb;
            padding: 4px 0;
            cursor: default;
        }
        
        .btn-primary:hover {
            color: #fff;
            opacity: 0.9;
        }
        
        .btn-big:hover {
            border-color: #333;
        }
        
        .large {
            padding: 6px 20px;
        }
        
        .btn-ghost:hover {
            border-color: #333;
        }
        /*公共margin*/
        
        .mar_l20 {
            margin-left: 20px !important;
        }
        /*浮动*/
        
        .fl {
            float: left !important;
        }
        
        .fr {
            float: right !important;
        }
        
        .fn {
            float: none !important;
        }
        /*清除浮动*/
        
        .clearfix:after,
        .cl:after {
            display: block;
            clear: both;
            content: '';
        }
        
        .clearfix,
        .cl {
            zoom: 1;
        }
        /*定位*/
        
        .po_re {
            position: relative;
        }
        
        .po_ab {
            position: absolute;
        }
        /*文字对齐方式*/
        
        .font_left {
            text-align: left !important;
        }
        
        .font_cen {
            text-align: center !important;
        }
        
        .font_right {
            text-align: right !important;
        }
        /*溢出隐藏*/
        
        .over_hide {
            overflow: hidden;
        }
        
        .over_hide_point {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }
        
        .mar_t20 {
            margin-top: 20px;
        }
        
        .mar_b20 {
            margin-bottom: 20px;
        }
        
        .mar_b10 {
            margin-bottom: 10px;
        }
        
        .marl_10 {
            margin-left: 10%;
        }