.content {
  width: 800px;
  height: 600px;
  margin: 150px auto 0;
  perspective: 2000px;
}
.content .main {
  position: relative;
  width: 800px;
  height: 600px;
  transform-style: preserve-3d;
}
.content .main .side {
  position: absolute;
  width: 800px;
  height: 600px;
  box-sizing: border-box;
  background-color: #20aa97;
}
.content .main .front {
  transform: translateZ(400px);
}
.content .main .back {
  transform: translateZ(-400px) rotateY(180deg);
}
.content .main .right {
  transform: translateX(-400px) rotateY(-90deg);
}
.content .main .left {
  transform: translateX(400px) rotateY(-270deg);
}
.content .trans {
  transition: all 500ms;
}
.main .screen #content {
  line-height: 600px;
  height: 600px;
  font-size: 50px;
  color: white;
  text-align: center;
}
.main .options {
  padding: 20px 30px;
}
.main .options .add {
  height: 30px;
  margin-bottom: 20px;
}
.main .options .add .input-add {
  height: 100%;
  width: 250px;
  background-color: #fff;
  border-radius: 6px;
  vertical-align: top;
  padding: 0 6px;
}
.main .options .add .button-add {
  height: 30px;
  background-color: #fff;
  width: 80px;
  border-radius: 6px;
}
.main .options .list {
  height: 100%;
  width: 100%;
  position: relative;
}
.main .options .list li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 20px 20px 0px;
  cursor: pointer;
  position: relative;
}
.main .options .list li:after {
  content: "删除";
  display: none;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 12px;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 15px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.main .options .list li:hover:after {
  display: block;
}
