.content {
  width: 20rem;
  height: 40rem;
  margin: 3rem auto;
  perspective: 150rem;
}
.content .main {
  position: relative;
  width: 20rem;
  height: 40rem;
  transform-style: preserve-3d;
}
.content .main .side {
  position: absolute;
  width: 20rem;
  height: 40rem;
  box-sizing: border-box;
  background-color: #20aa97;
}
.content .main .front {
  transform: translateZ(10rem);
}
.content .main .back {
  transform: translateZ(-10rem) rotateY(180deg);
}
.content .main .right {
  transform: translateX(-10rem) rotateY(-90deg);
}
.content .main .left {
  transform: translateX(10rem) rotateY(-270deg);
}
.content .trans {
  transition: all 500ms;
}
.main .screen #content {
  line-height: 40rem;
  height: 40rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.main .options {
  padding: 1rem 1.5rem;
}
.main .options .add {
  height: 2rem;
  margin-bottom: 1rem;
}
.main .options .add .input-add {
  height: 100%;
  width: 10rem;
  background-color: #fff;
  border-radius: 0.3rem;
  vertical-align: top;
  padding: 0 0.3rem;
}
.main .options .add .button-add {
  height: 2rem;
  background-color: #fff;
  width: 4rem;
  border-radius: 0.3rem;
}
.main .options .list {
  height: 100%;
  width: 100%;
  position: relative;
}
.main .options .list li {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0rem 0.5rem;
  background-color: #fff;
  border-radius: 0.75rem;
  margin: 0 1rem 1rem 0rem;
  cursor: pointer;
  position: relative;
}
.main .options .list li:after {
  content: "删除";
  display: none;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 0.6rem;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.75rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.main .options .list li:hover:after {
  display: block;
}
