

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
span,
a,
b,
i,
strong,
em,
img,
form,
input,
textarea,
table,
th,
td,
button,
section {
  color:#666;
  font-size: 50rem/25;
}
.fix-box{
    position: fixed;
    width: 100%;
    left: 0;
}

@mainColor:#375f8e;
@topHeight:4rem;

// 头部
.title{
    height: @topHeight;
    line-height: @topHeight;
    background-color: @mainColor;
    color:#fff;
    text-align: center;
    font-size: 60rem/25;
    top: 0;
}
.footer{
    bottom: 0;
    height: @topHeight;
    line-height: @topHeight;
    background-color: rgba(0, 0, 0, .1);
    button{
        height: 100%;
        padding:0 1rem;
    }
}
// 主体部分
.main{
    height: 100%;
    padding:100rem/25 20rem/25;
    background-color: #fff;
    box-sizing: border-box;
}
// 第一步选择学生姓名以及日期部分
.main .choose-name{
    margin-top: 5rem;
    .form{
        height: 7rem;
        display: flex;
        margin-top: 1rem;
        justify-content:center;
        align-items:center;
        p{
            flex: 1;
            text-align: right;
            font-weight: bold;
        }
        .inputs{
            flex: 2;
            width: 100%;
            position: relative;
            // height: 3rem;
            // line-height: 3rem;
            padding:.5rem 1rem;
            border: 1px solid @mainColor;
            border-radius: 4px;
            .input{
                position: absolute;
                top:0;
                width: 100%;
                height: 100%;
                left: 0;
                opacity: 0;
            }
        }
    }
}