html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
div,
span,
a,
b,
i,
strong,
em,
img,
form,
input,
textarea,
table,
th,
td,
button,
section {
  color: #666;
  font-size: 2rem;
}
.fix-box {
  position: fixed;
  width: 100%;
  left: 0;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.showmove {
  animation: showA 2s  forwards;
  opacity: 0;
}
@keyframes showA {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title {
  height: 6rem;
  line-height: 6rem;
  background-color: #375f8e;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  top: 0;
}
.footer {
  bottom: 0;
  height: 6rem;
  line-height: 6rem;
  background-color: #ccc;
}
.footer button {
  height: 100%;
  padding: 0 1rem;
  color: #375f8e;
}
.main {
  min-height: 100%;
  padding: 6rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
}
.main .choose-name {
  position: relative;
  top: 15rem;
}
.main .choose-name .form {
  height: 10rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.main .choose-name .form p {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.main .choose-name .form .inputs {
  flex: 2;
  width: 100%;
  position: relative;
  height: 5rem;
  line-height: 5rem;
  padding: 0rem 1rem;
  border: 1px solid #375f8e;
  border-radius: 4px;
}
.main .choose-name .form .inputs .input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
}
.stract-list {
  padding: 1rem;
}
.stract-list li {
  margin-top: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 4px 4px 20px #375f8e;
}
.stract-list li.choosed {
  background-color: #375f8e;
  color: #fff;
}
.class-result textarea {
  width: 100%;
  font-size: 1.6rem;
}
.class-result .result-list {
  font-size: 1.6rem;
}
.class-result .result-list p {
  font-size: 1.6rem;
}
.class-result .result-list p.t-in {
  text-indent: 2rem;
}
.class-result .result-list h4 {
  font-size: 2rem;
  color: #375f8e;
  height: 5rem;
  line-height: 5rem;
}
